.login .app{
    display: flex;
    min-height: 90vh;
    align-items: center;
    background: white;
    justify-content: space-around;
    margin-left: 10%;
}
.login .login-form{
    margin-left: auto;
    margin-right: auto;
}
.login .auth-form-container {
   margin-left: auto;
   margin-right: auto;
   padding: 50px;
   /* border:1px solid blue; */
   border-radius: 20px;
   width: 400px;
   height: 500px;
    
}
.login input{
    margin: 0.9rem 0;
    padding: 0.8rem;
    font-size: 18px;
    background-color: #fafafa;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}
.login .logo{
    width: 40%;
    height: 40%;
    line-height: 80%;
}
.login h1{
    font-size: 31px;
    color: rgba(30, 30, 30, 0.76);
}
.login .welcome{
    justify-content: center;
    width: 70%;
    width: 60%;
    height: 70%;
    padding: 40px;
}
.login h3{
    color:blue;
    font-size: 1.3em;
}
.login input{
    margin-left: 30px;
}
.login input.input_email {
    border-color: blue;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3237/3237472.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left  ;
    padding-left: 40px;
 }
 .register input.input_email {
    border-color: blue;
    background-image: none;
 }
 .login .invalid {
    border-color: red !important;
 }

 .login input.input_password {
    border-color:blue;
    padding-left: 40px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/8816/8816538.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left  ;
 }
  .register input.input_email,  .register input.input_password  {
    background-image: none;
    padding-left: 10px;
 }
#button-input{
    cursor: pointer !important;
}
.register__validation-error{
    font-size: medium;
}

@media only screen and (max-width: 600px) {
  .welcome{
    display:none
  }
}